# Ignoruj pliki zapisu RPG Maker VX Ace
Data/Save*.rvdata2
Data/Global.rvdata2

# Opcjonalnie ignoruj inne pliki tymczasowe i backupy
*.bak
*.tmp
Data/Backups/
/Audio
/Bonus
Game.exe
Game.ini
/logs
Save01.rvdata2
Save02.rvdata2
Save03.rvdata2
Save04.rvdata2
Save05.rvdata2
Save06.rvdata2
Save07.rvdata2
Save08.rvdata2
Save09.rvdata2
Save10.rvdata2
Save11.rvdata2
Save12.rvdata2
Save13.rvdata2
Save14.rvdata2
Save15.rvdata2
Save16.rvdata2
System/RGSS300.dll
System/RGSS301.dll
ver.txt
vocab.txt
地図.png
攻略.txt
.rvpacker-metadata
steam_api.dll
steam_autocloud.vdf
ace_json/script.py
